body{
    background-color:#0A0C0B ;
}
h2 {
  text-align: center;
  color: azure;
}

.one {
  background-image: url(Images/food1.jpg);
  height: 300px;
  width: 300px;
  border: #F8EFDB 10px solid;
  border-radius: 20px;
  margin: 0 auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.two {
  background-image: url(Images/food2.jpg);
  height: 300px;
  width: 300px;
  border: #C66717  10px solid;
  border-radius: 20px;
  margin:  auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.three {
  background-image: url(Images/food3.jpg);
  height: 300px;
  width: 300px;
  border: 10px solid #A45E2C;
  border-radius: 20px;
  margin: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.four {
  background-image: url(Images/food4.jpg);
  height: 300px;
  width: 300px;
  border: 10px solid #787A85;
  border-radius: 20px;
  margin: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: aquamarine;
}
a:hover{
    text-decoration: underline;
}
